---
import Layout from "@layouts/Layout.astro";
import { SITE_DESCRIPTION, MAX_POSTS_NEWS_INDEX, appSettings } from '@root/consts';
import FormattedDate from '@components/FormattedDate.astro';
import {getPublishedPostsByDateDesc, createExcerpt} from '@lib/blog.ts';

const posts = await getPublishedPostsByDateDesc(MAX_POSTS_NEWS_INDEX);
---

<!doctype html>
<Layout
  title={appSettings.formatTitle("News")}
  description={SITE_DESCRIPTION}
  activeMenu="News"
>
  <div class="container-fluid pt-3">
    {
      posts.map((post) => {
        const excerpt = `${createExcerpt(post.body, 280)}...`;

        return (
          <article>
            <div class="row">
              <div class="col-sm-12 news-post-preview">
                <div class="card col-sm-12 px-3 shadow-sm" style="margin-bottom:30px">
                  <h2 style="margin-top:10px">
                    <a href={`/news/${post.slug}/`}>{post.data.title}</a>
                  </h2>
                  <div class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </div>
                  <p class="news-content-preview" set:html={excerpt}></p>
                  <p class="read-more">
                    <a href={`/news/${post.slug}/`}>Read more</a>
                  </p>
                </div>
              </div>
            </div>
          </article>
        );
      })
    }

    <div class="row">
      <div class="col-sm-12 px-3 news-post-preview more-posts-link">
        <h2>
          <a href="/news/all-posts/">More posts</a>
        </h2>
      </div>
    </div>

  </div>
</Layout>
