---
interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description/*, image = '/apple-touch-icon.png'*/ } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="generator" content={Astro.generator} />

<!-- css -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap5-dark.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-icons/bootstrap-icons.min.css" />
<link rel="stylesheet" type="text/css" href="/css/site.css" />
<link rel="stylesheet" type="text/css" href="/css/theme-dark.css" />
<!-- TODO: when everything is stable, minify the three css files into one. -->
<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap5-site-theme-min.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-icons/bootstrap-icons.min.css" /> -->

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<!-- <meta property="twitter:image" content={new URL(image, Astro.url)} /> -->

<!-- For Mastodon link verification: https://docs.joinmastodon.org/user/profile/#verification -->
<link href="https://mastodon.gamedev.place/@kefka" rel="me" />

<!-- bootstrap js -->
<!-- notice how these are relative paths to node_modules.
     alternatively can use import inside the script tag: https://stackoverflow.com/a/77723375 -->
<script src="@popperjs/core/dist/umd/popper.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>

<!-- syntax highlighting for markdown code blocks -->
<link href="/css/prism.css" rel="stylesheet" />
